{% extends 'base2.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block headmessage %}
<div class="card" style="background-color: rgb(201, 175, 160); ">
    <div class="card"; style="background-color: rgb(201, 175, 160); display: flex;">
        <h3 style="font-family:微軟正黑體; font-size: 25pt; color:rgb(255, 255, 255); margin-left: 10px; margin-bottom: 0px; padding: 10px;" >{{ post.title }}
        <span style="font-family: 微軟正黑體; font-size: 15pt; font-weight: bold; color: #ffffff; margin-left: 15px; margin-top: 0; margin-bottom: 0; margin-right: 20px;">作者：{{post.writer}}</span>
            <a class="btn btn-sm" style="background-color: rgb(201, 175, 160); border-width: 1px; color: white;" href='/'>回首頁</a>
            <a class="btn btn-sm" style="background-color: rgb(201, 175, 160); border-width: 1px; color: white;" href='/book_list'>去借閱</a>
        </h3>
    </div>
</div>
{% endblock %}
{% block content %} 
    <div class="row">
        <div class="col-md-6">

            <div class="card" style="background-color: rgb(201, 175, 160); border-width: 1px; color: white;">
                <p style="background-color: rgb(201, 175, 160); border-width: 1px; color: white;">
                    館藏狀態：{{post.formatted_is_borrow|safe}}
                </p>
            </div>
            <div class="card" style="background-color: rgb(201, 175, 160); border-width: 1px; color: white; margin-top: 30px;">
                <p style="background-color: rgb(201, 175, 160); border-width: 1px; color: white;">詳細介紹：</p>
                    {{ post.body|safe }}
            </div>
        </div>
    </div>
{% endblock %}
